<footer class="footer bg-dark py-3 mt-3">  <!-- #212529!important; -->
    <div class="container">
        <span class="text-muted">&copy; Board 2023</span>
    </div>
</footer>


<footer id="footer">
    <div id="footer-container">
        <p id="footer-content">&copy; Board 2023</p>
    </div>
</footer>