
<nav id="navbar">
  <div id="navbarWrap">
    <div id="logoWrap">
      <a id="logo" href="/index">FreeBoard</a>
    </div>
    <div id="userSignWrap">
      <% if(!signedInUser) { %>
        <a class="sign-option signInBtn" style="cursor:pointer">로그인</a>
        <a class="sign-option" href="/signup2">회원가입</a>
        <% } else { %>
        <span class="p-2 text-white"></span>
        <div class="dropdown">
          <span class="user_nickname text-white"><%= signedInUser.nickname %> ▼</span>
          <div class="dropdown-options">
            <a class="dropdown-option userInfo" href="/userinfo">회원정보수정</a>
            <a class="dropdown-option signOutBtn" href="#">로그아웃</a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</nav>
