<nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-warning">
    <div class="container-fluid w-50 px-4 border border-danger">
      <a class="navbar-brand" href="/index">FreeBoard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between border border-info" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/index">Home</a>
            <a class="nav-link" href="/index/new">New Content</a>
        </div>
       
        <div class="navbar-nav">
          <% if(!signedInUser) { %>
          <span class="nav-link signInBtn" style="cursor:pointer">Sign in</span>
          <a class="nav-link" href="/signup">Sign up</a>
          <% } else { %>
          <span class="p-2 text-white"><%= signedInUser.nickname %></span>
          <span class="nav-link signOutBtn" style="cursor:pointer">Sign out</span>
          <% } %>
        </div>
      </div>
    </div>
</nav>
