<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/navbar.css">

        <%- body %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/javascript/validateForms.js"></script>
    <script>
    document.addEventListener('click', function(event){  // navbar의 signin, signout버튼
        const signOutBtn = event.target.classList.contains('signOutBtn');
        const signInBtn = event.target.classList.contains('signInBtn');

        if(signOutBtn){ // navbar signout버튼
            const targetUrl = event.target.attributes.class.ownerDocument.location.pathname; // 현재 페이지URL정보 가져옴
            window.location.href = `/signout?redirectUrl=${targetUrl}`
        }

        if(signInBtn){ // navbar signin버튼
            const targetUrl = event.target.attributes.class.ownerDocument.location.pathname;
            window.location.href = `/signin?redirectUrl=${targetUrl}`
        }
    });
    </script>

</body>
</html>