body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#emailWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#emailInnerWrap {
    border: 1px solid black;
    width: 500px;
    padding: 50px;
}

#inputEmailWrap {
    width: 100%;
    margin-top: 30px;
}

.info {
    margin: 0;
}

.validEmailMsg {
    font-size: small;
    color: green;
}

.invalidEmailMsg {
    font-size: small;
    color: red;
}

#email{
    width: 100%;
    height: 40px;
    padding: 10px;
}

#emailBtnWrap, #emailBtn {
    width: 100%;
}

#emailBtn{
    height: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
}