
body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 85vh;
}

table{
    table-layout: fixed;
}

#tr {
    border-bottom: 1px solid #ddd;
}

#tr:hover {
    /* background-color: blanchedalmond; */
    cursor: pointer;
}

.th {
    padding: 5px;
}

.wordoverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#thead {
    border-bottom: 1px solid black;
    text-align: center;
}

.text-control {
    text-align: center;
}

.body{
    font-size: small;
}

.image {
    color: green;
}

#table-title {
    text-decoration-line: none;
    color: black;
    font-size: small;
}



#new-post {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 5px;
}

#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    margin: 0;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

.current-page {
    color: red;
}

.page-prev, .page-next {
    color: grey;
}

.page-prev:hover, .page-next:hover {
    color: grey;
}

#table-title:hover {
    color: crimson;
    padding: 0px;
    margin: 0px;
}

#table-title {
    padding: 0px;
    margin: 0px;
}

#index-table {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#table-wrap {
    width: 1000px;
}

.progress-bar {
    width: 100%;
    height: 2px;
    background-color: #dedede;
}

.imgView{
    border: 1px dashed gray;
    min-height: 150px;
}

#write-btn {
    border: none;
    background-color: #212529;
    color: white;
    text-decoration: none;
    font-size: small;
    padding: 5px 10px;
}

#findPwd{
    font-size: small;
}