.head,.body {
    text-align: center;
}

table{
    table-layout: fixed;
}

.wordoverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#thead {
    background-color: steelblue;
}

.body{
    font-size: small;
}

#table_title {
    text-decoration-line: none;
    color: black;
    font-size: small;
}

#tr:hover {
    /* background-color: blanchedalmond; */
    cursor: pointer;
}

#table_title:hover {
    color: crimson;
    padding: 0px;
    margin: 0px;
}

#table_title {
    padding: 0px;
    margin: 0px;
}

/* #index_table {
    width: 70%;
} */

/* #table_wrap {
    display: flex;
    justify-content: center;
    width: 70%;
} */