.head,.body {
    text-align: center;
}

table{
    table-layout: fixed;
}

.wordoverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#thead {
    background-color: steelblue;
}

.body{
    font-size: small;
}

#table_title {
    text-decoration-line: none;
    color: black;
    font-size: small;
}

#tr:hover {
    /* background-color: blanchedalmond; */
    cursor: pointer;
}

#table_title:hover {
    color: crimson;
    padding: 0px;
    margin: 0px;
}

#table_title {
    padding: 0px;
    margin: 0px;
}

#show_title {
    font-size: larger;
}

#comments_color {
    color: red;
}

#commentBody, #nestedCommentBody {
    font-size: smaller;
}

.commentInfoWrap, .nestedCommentInfoWrap {
    font-size: smaller;
}

/* #index_table {
    width: 70%;
} */

/* #table_wrap {
    display: flex;
    justify-content: center;
    width: 70%;
} */

.progress-bar {
    width: 100%;
    height: 2px;
    background-color: #dedede;
}

#success_progress {
    background-color: darkgreen;
}

#error_progress {
    background-color: darkred;
}

.nestedCommentInnerWrap {
    width: 95%;
}

.signupValid:focus {
    box-shadow: 0px 0px 5px green;
    border-color: green;
}
.signupValid {
    border-color: green;
}

.signupInvalid:focus {
    box-shadow: 0px 0px 5px red;
    border-color: red;
}
.signupInvalid {
    border-color: red;
}

.imgView{
    border: 1px dashed gray;
    min-height: 150px;
}

.inputHint{
    font-size: small;
    color: gray;
}