body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#userInfoWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#userInfoInnerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 400px;
}

#titleWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    margin: 0 0 40px 0;

}

.inputLabel{
    width: 140px;
    text-align : end;
    padding-right: 15px;
}

.control-input{
    width: 300px;
    padding-left: 10px;
    font-size: small;
}

#userId{
    cursor: not-allowed;
}

#title{
    font-size: large;
    font-weight: bold;
}

#userIdWrap{
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
}

#nicknameWrap{
    display: flex;
    flex-direction: row;
}

#passwordWrap{
    display: flex;
    flex-direction: row;
}

#confirmPwdWrap{
    display: flex;
    flex-direction: row;
}

#buttonWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#submit {
    width: 30%;
}
#cancel {
    width: 20%;
}

button{
    margin-right: 20px;
}
.inputWrap{
    margin: 0 0 15px 0;
}

#withdrawWrap {
    font-size: small;
}

#withdrawBtn {
    border: none;
    background-color: white;
    font-size: small;
}

#withdrawBtn:hover {
    text-decoration: underline;
}

#modalWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

#modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 150px;
}

#modalcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}