#container {
    border: 2px solid red;
    min-height: 83vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mypage-wrap {
    border: 2px solid blue;
    width: 1000px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sidebar-wrap {
    border: 2px solid green;
    width: 200px;
}

#sidebar {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.sidebar-menu {
    border: 2px solid magenta;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebar-menu:hover {
    color: whitesmoke;
    background-color: #a0a0a0;
    /* #818182 */
}

#content-wrap {
    border: 2px solid green;
    width: 800px;
    box-sizing: border-box;
}

#sidebar-title-wrap {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

#sidebar-title {
    margin: 0;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid red;
}

#tap-menu-wrap {
    border: 2px solid salmon;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}

.tap-item {
    border: 2px solid purple;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.tap-item:hover {
    color: black;
}

#items-wrap {
    border: 2px solid blue;
    margin-top: 5px;
    /* height: 100%; */
    
}