
.n2Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.new2Wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 1px solid green;
    margin-top: 100px;
}

.inputNew2 {
    /* border: 1px solid blue; */
    width: 80%;
    margin-bottom: 10px;
}

#new2Title {
    width: 100%;
    height: 45px;
    padding: 1%;
    border: 1px solid #999;
    outline: none;
    resize: none;
    overflow: hidden;
}

#toolbar {
    width: 100%;
    border: 1px solid #999;
    border-bottom: none;
    background-color: #f8f9fa;
    padding: 3px 10px;
}

.editorSelectBtn {
    border: none;
    font-size: small;
    background-color: #f8f9fa;
    cursor: pointer;
}

.editorBtn {
    border: none;
    font-size: medium;
    background-color: #f8f9fa;
}

.editorBtn:hover {
    color: red;
    cursor: pointer;
}

#imgBtn {
    display: none;
}

#submitBtn {
    border: none;
    padding: 5px 8px;
    margin-right: 5px;
    background-color: rgba(3, 199, 90, 0.12);
    color: #009f47;
}

#cancelBtn {
    border: none;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-decoration-line: none;
}

#text-input {
    height: 400px;
    padding: 3%;
    border: 1px solid #999;
    color: black;
    outline: none;
    overflow-y: auto;
    resize: vertical;
}

#new2Placeholder {
    color: #999;
}

#text-input:empty:before {
    content: attr(placeholder);
    color: #aaa;
}

.imgSize {
    max-width: 100%;
}

.active {
    color: red;
}