body {
    display: flex;
    flex-direction: column;
}

#show-container{
    /* min-height: 90vh; */
    height: auto;
}

#post-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#content-wrap {
    width: 1000px;
}

#title-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

#title {
    font-weight: bold;
    font-size: large;
    margin: 0;
}

#content-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: small;
    background-color: whitesmoke;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#nickname, #post-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 40px;
}

#user-info {
    display: flex;
    width: 50%;
    padding-left: 10px;
}

#content-edit-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
    align-items: center;
    width: 50%;
}

#content-edit, #content-delete, #index, #report {
    height: 80%;
}

#mainText {
    padding: 10px;
}

#content-bottom-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    height: 40px;
    background-color: whitesmoke;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#content-like-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-like {
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 1px solid grey;
}

#count-content-likes {
    margin: 10px 0 0 0;
    font-size: large;
}


#best-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #best-comment-wrap {
    width: 1000px;
    margin: 10px 0 20px 0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
} */
.best-comment-wrap {
    width: 1000px;
    margin: 10px 0 20px 0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

#best-comment-top {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding-left: 10px;
    height: 40px;
    font-weight: bold;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#best-comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.info-left {
    display: flex;
    flex-direction: row;
}

.nickname, .user-ip, .comment-date {
    margin: 0;
}

.nickname {
    margin-right: 20px;
}

#best-comment-main {
    padding: 0 10px 0 10px;
}

.main-text {
    white-space: pre-wrap;
    margin: 0;
}

#best-comment-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.comment-like {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid grey;
}

#commnet-thumb {
    margin-right: 10px;
}

.count-comment-likes{
    margin: 0;
    font-size: small;
}

.control-btn {
    border-radius: 5px;
    font-size: small;
    background-color: whitesmoke;
    border: 1px solid grey;
}

.reply-btn {
    border-radius: 5px;
    font-size: small;
    background-color: white;
    border: 1px solid grey;
}

#count-comments {
    color: red;
    font-weight: bold;
    margin: 0;
}

#comments-title {
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 10px;
    width: 1000px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid grey;
}

#comments-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#comments-wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 1000px;
}


/* 부모 댓글 */
.parent-comments-wrap {
    border: 1px solid grey;
    /* background-color: blanchedalmond; */
    margin-bottom: 5px;
    width: 100%;
}

#deleted-parent-comments-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
}

.comments-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    padding: 10px
}

.comments-content {
    padding: 0 10px 0 10px;
}

.comments-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}


/* 자식 댓글 */
.child-comments-wrap {
    width: 95%;
    margin-bottom: 5px;
    border: 1px solid grey;
    background-color: whitesmoke;
}


/* 댓글 작성 */
#login-required-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#login-required {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid grey;
    height: 100px;
    width: 1000px;
}

.signInBtn {
    cursor: pointer;
}

#create-comment-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#comment-label {
    border: 1px solid black;
    border-bottom: none;
    background-color: whitesmoke;
    padding-left: 10px;
    width: 100%;
}

#create-comment-form {
    width: 1000px;
}

#input-comment {
    width: 100%;
    padding: 10px;
}

#submit-btn {
    width: 100%;
    border: none;
    background-color: #212529;
    color: white;
    font-size: medium;
    font-weight: bold;
}


/* 답변 */
#input-reply-text-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

#input-reply-text {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 5px;
}

#input-reply-text-box {
    width: 95%;
    height: 100px;
    padding: 10px;
}

#input-reply-text-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
}

.submit {
    margin-right: 5px;
}


/* 수정 */
#input-edit-text-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

#input-edit-text-box {
    width: 100%;
    height: 100px;
    padding: 10px;
}

#input-edit-text-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
}



#comments-inner-wrap {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
}


/* 페이징 */
#pagination-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.commentPage {
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
}


#targetComment {
    background-color: antiquewhite; 
    transition: background-color 1s ease; 
}

/* index */
#write-btn {
    border: none;
    background-color: #212529;
    color: white;
    text-decoration: none;
    font-size: small;
    padding: 5px 10px;
}