body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#input-form {
    border: 1px solid black;
    /* border-radius: 10px; */
    padding: 30px;
    width: 500px;
}

#input-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-email-wrap {
    width: 100%;
}

#email, #password {
    padding-left: 10px;
}

.input-form {
    border: 1px solid #999;
    width: 100%;
    height: 40px;
}

#input-pwd-wrap {
    margin-top: 10px;
    width: 100%;
}

#submit-btn {
    border: 1px solid black;
    background-color: black;
    color: whitesmoke;
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

#fotgot-pwd-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: small;
}