
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    border: 1px solid black;
    min-height: 350px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}