<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/viewNoteError.css">
</head>
<body>

    <div id="container">
        <div class="exclamation-wrap">
            <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <div id="message-wrap">
            <h3><b>삭제되었거나 찾을 수 없는 쪽지입니다.</b></h3>
            <p>잠시 후 자동으로 닫힙니다.</p>
        </div>
    </div>

    <script src="/javascript/viewNoteError.js"></script>
</body>
</html>

