<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/withdraw.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
<%- include('../partials/navbar') %>


<h1>잘가 또 와줘~</h1>


<%- include('../partials/footer') %>