<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/withdraw.css">
</head>
<body>
<%- include('../partials/navbar') %>


<h1>잘가 또 와줘~</h1>


<%- include('../partials/footer') %>
<script src="/javascript/withdraw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>