<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/checkuser.css">
</head>
<body>
<%- include('../partials/navbar') %>


<h1>Edit User Info</h1>


<%- include('../partials/footer') %>
<script src="/javascript/checkuser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>