<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/mypage.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
<%- include('../partials/navbar') %>

<div id="container">
    <div id="mypage-wrap">
        <div id="sidebar-wrap">
            <nav id="sidebar">
                <a href="">내 글</a>
                <a href="">좋아요</a>
                <a href="">신고</a>
            </nav>
        </div>
        <div id="main">

        </div>
    </div>
</div>






<%- include('../partials/footer') %>