<% layout('layouts/boilerplate') %>

<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="d-flex flex-column align-items-center border border-danger">
        <h1>REGISTER</h1>
        <div class="mb-3 w-25 border border-warning">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
        <div class="mb-3 w-25 border border-warning">
            <label class="form-label" for="nickname">Nickname</label>
            <input class="form-control" type="text" id="nickname" name="nickname" required>
        </div>
        <div class="mb-3 w-25 border border-warning">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <div class="mb-3 w-25 border border-warning">
            <label class="form-label" for="confirmPwd">Confirm Password</label>
            <input class="form-control" type="password" id="confirmPwd" name="confirmPwd" required>
        </div>
        <button class="w-25 btn btn-success">Register</button>
    </div>
</form>