<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
<%- include('../partials/navbar') %>
<div id="container">
    <form action="/signin?redirectUrl=<%= redirectUrl %>" method="POST" id="input-form" class="validated-form" novalidate>
        <div id="input-wrap">
            <h3><b>로그인</b></h3>
            <div id="input-email-wrap">
                <label class="form-label" for="email">이메일</label>
                <input class="form-control" type="email" id="email" name="email" autocomplete="username" required>
            </div>
            <div id="input-pwd-wrap">
                <label class="form-label" for="password">비밀번호</label>
                <input class="form-control" type="password" id="password" name="password" autocomplete="current-password" required>
            </div>
            <button id="submit-btn" class="btn btn-success">로그인</button>
        </div>
        <div id="fotgot-pwd-wrap">
            <a id="fotgot-pwd" href="/forgotpwd">비밀번호를 잊어버렸나요?</a>
        </div>
    </form>
</div>
<script>
window.onpageshow = function(event){
    if(event.persisted){
        window.location.reload();
    }
}
</script>
<%- include('../partials/footer') %>