<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body class="d-flex flex-column vh-100 border border-danger">
<%- include('../partials/navbar') %>

<form action="/signup" method="POST" class="validated-form" novalidate>
    <div class="d-flex mt-5 flex-column align-items-center border border-danger">
        <h1>회원가입</h1>
        <div id="emailWrap" class="mb-3 w-25">
            <div class="d-flex flex-row">
                <input class="form-control" type="email" id="email" name="email" autocomplete="email" placeholder="이메일 입력" required>
                <button id="emailVerification" type="button" class="w-25 p-2 btn btn-sm btn-info">인증하기</button>
            </div>
            <div>
                <span class="emailCheckMessage"></span>
            </div>
        </div>

        <!-- <div id="verificationWrap" class="d-flex flex-column mb-3 w-25">
            <div class="d-flex flex-row">
                <input class="form-control" type="text" id="verificationCode" name="verificationCode" placeholder="인증번호 입력" required>
                <button id="checkVerificationCode" type="button" class="w-25 p-2 btn btn-sm btn-info" onclick="checkVerificationCode()">확인</button>
            </div>
            <div id="verificationInfo" class="d-flex flex-row justify-content-between">
                <p class="m-0" id="message">인증번호가 잘못되었습니다.</p>
                <p class="m-0" id="verificationTime">인증번호 유효시간: 22초</p>            
            </div>
        </div> -->

        <div class="mb-3 w-25">
            <input class="form-control" type="text" id="nickname" name="nickname" autocomplete="nickname" placeholder="닉네임" required>
            <span class="nicknameCheckMessage"></span>
        </div>
        <div class="mb-3 w-25">
            <input class="form-control" type="password" id="password" name="password" autocomplete="new-password" placeholder="비밀번호 (최소 6자리 이상)" required>
            <span class="passwordCheckMessage"></span>
        </div>
        <div class="mb-3 w-25 border border-warning">
            <input class="form-control" type="password" id="confirmPwd" name="confirmPwd" autocomplete="new-password" placeholder="비밀번호 재입력" required>
            <span class="confirmPwdCheckMessage"></span>
        </div>
        <button class="w-25 btn btn-success signupBtn disabled">등록하기</button>
    </div>
</form>
<%- include('../partials/footer') %>
<script src="/javascript/signup.js"></script>