<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sendNote.css">
</head>
<body>
    
    <div id="container">
        <div id="input-recipient-wrap">
            <input id="input-recipient" type="text" placeholder="받는 사람">
        </div>
        <div id="character-limit-wrap">
            <p id="character-limit"></p> 
        </div>
        <div id="input-content-wrap">
            <textarea name="" id="input-content" cols="30" rows="10" placeholder="내용을 입력하세요."></textarea>
        </div>
        <div id="btn-group-wrap">
            <button id="cancel" onclick="closeNote()">취소</button>
            <button id="send" onclick="sendNote()">보내기</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/sendNote.js"></script>
    
</body>
</html>

