<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/new2.css">
</head>
<body>
<%- include('../partials/navbar') %>
<div class="n2Container">
    <div class="new2Wrap">
        <div id="new2TopWrap">
            <h3 id="new2Top">글쓰기</h3>
        </div>
        <% if(role === 'master' || role === 'superman') { %>
            <div id="notice-post-wrap">
                <input type="checkbox" id="notice" name="notice">
                <label for="notice">공지글</label>
            </div>
        <% } %>
        <div class="inputNew2" id="new2TitleWrap">
            <textarea type="text" id="new2Title" name="board[title]" placeholder="제목을 입력해 주세요." required></textarea>
        </div>
        <div class="inputNew2" id="new2MainTextWrap">
            <div id="toolbar">
                
                <select id="fontName" class="adv-option-button"></select>
                <select id="fontSize" class="adv-option-button"></select>

                <button id="bold" class="option-button format editorBtn">
                    <i class="fa-solid fa-bold"></i>
                </button>
                <button id="italic" class="option-button format editorBtn">
                    <i class="fa-solid fa-italic"></i>
                </button>
                <button id="underline" class="option-button format editorBtn">
                    <i class="fa-solid fa-underline"></i>
                </button>
                <button id="strikethrough" class="option-button format editorBtn">
                    <i class="fa-solid fa-strikethrough"></i>
                </button>

                <button id="insertOrderedList" class="option-button editorBtn">
                    <i class="fa-solid fa-list-ol"></i>
                </button>
                <button id="insertUnorderedList" class="option-button editorBtn">
                    <i class="fa-solid fa-list"></i>
                </button>

                <button id="createLink" class="adv-option-button editorBtn">
                    <i class="fa fa-link"></i>
                </button>
                <button id="unlink" class="option-button editorBtn">
                    <i class="fa fa-unlink"></i>
                </button>

                <button id="justifyLeft" class="option-button align editorBtn">
                    <i class="fa-solid fa-align-left"></i>
                </button>
                <button id="justifyCenter" class="option-button align editorBtn">
                    <i class="fa-solid fa-align-center"></i>
                </button>
                <button id="justifyRight" class="option-button align editorBtn">
                    <i class="fa-solid fa-align-right"></i>
                </button>
                <button id="justifyFull" class="option-button align editorBtn">
                    <i class="fa-solid fa-align-justify"></i>
                </button>

                <button id="undo" class="option-button editorBtn">
                    <i class="fa-solid fa-rotate-left"></i>
                </button>
                <button id="redo" class="option-button editorBtn">
                    <i class="fa-solid fa-rotate-right"></i>
                </button>
                
                <label class="editorBtn" for="imgBtn"><i class="fa-solid fa-camera"></i></label>
                <input type="file" name="imgBtn" id="imgBtn" onchange="imgUpload(this)" multiple>
            </div>
            <div id="text-input" contenteditable="true" placeholder="내용을 입력해주세요."></div>
        </div>
        <div class="bottom-btn-group">
            <a type="button" class="bottom-btn" id="cancel-btn" href="/index">취소</a>
            <button class="bottom-btn" id="submit-btn" onclick="uploadContent()">등록</button>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/textEditor.js"></script>
<script src="/javascript/createNew.js"></script>


