<% layout('layouts/boilerplate') %>

<div class="new2Container">
    <div class="new2Wrap">
        <div class="inputNew2" id="new2Title">
            title
        </div>
        <div class="inputNew2" id="new2MainText">
            mainText
        </div>
        <div class="inputNew2" id="new2AddImg">
            add img
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/createNew.js"></script>
